<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="false">
  <div class="container-fluid py-1 px-3">
    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
      <div class="trini-search">
        <div class="input-group">
          <span class="input-group-text text-body"><i class="fa fa-search" aria-hidden="true"></i></span>
          <input type="search" class="form-control" placeholder="{{ _("Type here...") }}" />
        </div>
      </div>
    </div>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item d-flex align-items-center">
        {% if current_user.is_authenticated %}
          <div class="show">
            <div class="dropdown">
              <a class="nav-link d-flex align-items-center gap-2" href="javascript:void(0);" role="button" id="user_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ current_user.display_avatar }}" style="height: 32px; width: 32px; border-radius: 50%; border: 2px solid rgba(255,255,255,0.3); object-fit: cover;" alt="Avatar">
                <b class="text-white">{{ current_user.display_name }}</b>
                <i class="ni ni-bold-down text-white" style="font-size: 0.65rem;"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="user_dropdown">
                <li class="nav-link"><a href="{{ url_for("login_blueprint.logout") }}" class="nav-item dropdown-item text-danger"><i class="ni ni-user-run" style="width: 1.3em; vertical-align: -2px;"></i> {{ _("Logout") }}</a></li>
              </ul>
            </div>
          </div>
        {% else %}
          <a href="{{ full_login_url }}" class="btn btn-success btn-m mb-0 w-100" style="border-radius: 0.5rem;">
            <i class="ni ni-key-25 me-sm-1" style="vertical-align: -1.5px;"></i>
            <span class="d-sm-inline d-none">{{ _("Login") }}</span>
          </a>
        {% endif %}
      </li>
      <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
        <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line bg-white"></i>
            <i class="sidenav-toggler-line bg-white"></i>
            <i class="sidenav-toggler-line bg-white"></i>
          </div>
        </a>
      </li>
      <li class="nav-item px-3 d-flex align-items-center">
        <a href="javascript:;" class="nav-link text-white p-0"><i class="fa fa-cog text-lg opacity-10 fixed-plugin-button-nav cursor-pointer" style="vertical-align: 0px;"></i></a>
      </li>
    </ul>
  </div>
</nav>
<!-- End Navbar -->